.card {
  padding: 1rem;
  box-shadow: 1px 1px 1px 1px;
  border-radius: 7px;
  &-line {
    border-bottom: 1px solid #222;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  &-links {
    padding: 0.3rem;
    background-color: #bfbfbf;
    display: flex;
    gap: 1rem;
  }
}